.aso-registration-user-type-group {
  display: flex;
  flex-direction: column;
}

.aso-registration-user-type-radio {
  margin: 12px 0px;
}

.aso-registration-personal-data-step,
.aso-registration-final-step,
.aso-registration-user-type-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.aso-registration-personal-data-form {
  display: flex;
  flex-direction: column;
  width: 480px;
}
