.aso-edit-rules-content {
  display: flex;
}

.aso-edit-rules-buttons {
  display: flex;
  padding-top: 8px;
}

.aso-edit-rules-save {
  margin-left: auto;
}

.aso-edit-rules-reset {
  margin-left: 8px;
}
