@import "../../../../palette";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.aso-home-page-title,
.aso-home-page-card {
  margin: 20px;
  margin-bottom: 0px;
}

.aso-home-page-card {
  display: flex;
  flex-direction: column;
  height: 50%;
}

/* user section */
.aso-home-page-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: auto;
}

.aso-home-page-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 90%;
  background-color: $aso-soft-background;
  align-self: center;

  & fa-icon {
    color: $aso-main-color;
  }
}

.aso-home-page-user-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.aso-home-page-user-title {
  color: $aso-caption
}

.aso-home-page-pic,
.aso-home-page-user-name,
.aso-home-page-user-title {
  margin-bottom: 10px;
}

/* list section */
.aso-home-page-user-details {
  font-weight: bold;
}

.aso-home-page-list-item {
  display: flex;
  flex-direction: row;

  & fa-icon {
    color: $aso-main-color;
    margin-right: 16px;
  }
}

.aso-home-page-list-text-container {
  display: flex;
  flex-direction: column;
}

.aso-home-page-list-caption {
  color: $aso-caption;
  font-size: 0.8rem;
}
