<aso-page-title text="Профиль"></aso-page-title>
<aso-content-card>
  <div class="aso-profile-user">
    <div class="aso-profile-pic">
      <fa-icon [icon]="userIcon" size="2x" [fixedWidth]="true"></fa-icon>
    </div>
    <span class="aso-profile-user-name">Игорь</span>
    <span class="aso-profile-user-title">Директор</span>
  </div>

  <span class="aso-profile-user-details">Подробная информация</span>
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item class="aso-profile-list-item">
      <fa-icon [icon]="userIcon"></fa-icon>
      <div class="aso-profile-list-text-container">
        <span>{{ userData.gender }}</span>
        <span class="aso-profile-list-caption">Пол</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="aso-profile-list-item">
      <fa-icon [icon]="atIcon"></fa-icon>
      <div class="aso-profile-list-text-container">
        <span>{{ userData.email }}</span>
        <span class="aso-profile-list-caption">Почта</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="aso-profile-list-item">
      <fa-icon [icon]="phoneIcon"></fa-icon>
      <div class="aso-profile-list-text-container">
        <span> {{ userData.phone }}</span>
        <span class="aso-profile-list-caption">Телефон</span>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</aso-content-card>
