@import "../../../palette";

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.aso-sidebar-login-panel {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding-bottom: 10px;
  text-align: center;
}

.aso-sidebar-navigation-menu-item {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 10px 3px;
  cursor: pointer;
  border: none;
  text-align: start;
}

.aso-sidenav-container {
  flex: 1;
}

h1.aso-sidebar-name {
  margin-left: 8px;
}

.aso-sidebar-list{
  width: 300px;
}

.aso-sidebar-navigation-menu-item-active,
.aso-sidebar-navigation-menu-item:hover {
  background-color: $aso-accent;
}

.aso-sidebar-navigation-menu-item:focus {
  background-color: inherit;
}

.aso-sidebar-item-icon {
  text-align: center;
  color: $aso-main-color;
  width: 24px;
  margin-right: 4px;
}
